#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
}

#contact-text {
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    text-align: center;
    text-space: 1em;
    line-height: 1.2em;
}

#tuesday-img {
    height: 40vh;
    width: 25vw;
    border: .2em solid yellowgreen;
    border-radius: 60%;
}

@media screen and (min-width: 420px) and (max-width: 1024px){
    #contact-text {
        font-size: 2em;
    }

    #tuesday-img {
        height: 40vh;
        width: 30vw;
    }
}

@media screen and (max-width: 420px){
    #contact-text {
        font-size: 1em;
    }
    #tuesday-img {
        height: 40vh;
        width: 30vw;
    }
}