/* Reset */
html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    display: flex;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}
#background {
    width: 100vw;
    max-width: 100%;
    background: rgba(255, 98, 66, 1);
    background: -moz-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
}

#top-nav {
    display: flex;
    height: 20vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    color: greenyellow;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
}

#home-index {
    text-decoration: none;
    color: greenyellow;
}

.nav-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    justify-content: flex-end;
    color: greenyellow;
    text-decoration: none;
}

#center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#index-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 90vw;
    /*right: 10vw;*/
    background-color: floralwhite;
    border: .2em solid black
}

.index-art1 {
    height: 50px;
    width: 50px;
}

#index-art2 {
    height: 400px;
    width: 300px;
    border-radius: 60%;
    border: .5em solid black;
    -webkit-box-shadow: 10px 10px 93px 20px rgba(174,250,60,1);
    -moz-box-shadow: 10px 10px 93px 20px rgba(174,250,60,1);
    box-shadow: 10px 10px 93px 20px rgba(174,250,60,1);
}

.index-rose {
    display: none;
}

.info-content {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-facts {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5em;
    text-align: justify;
    padding: 1em;
}

#bottom-nav {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: flex-end;
}

.sm-icon {
    opacity: 1;
}

@media screen and (max-width: 800px){

}




/*FONTS:*/
/*font-family: 'Cinzel', serif;*/
/*font-family: 'Open Sans Condensed', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/