/* Reset */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-rows: repeat(auto-fit, 6fr);
    grid-auto-columns: 100%;
    grid: "top-nav" "center-content1" "center-content2" "center-content3" "center-content4" "bottom-nav";
    height: auto;
    max-width: 100%;
    margin: 0;
}

#background {
    width: 100vw;
    max-width: 100%;
    background: rgba(255, 98, 66, 1);
    background: -moz-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
}

/*a:link {*/
    /*color: red;*/
/*}*/
/*a:visited {*/
    /*color: green;*/
/*}*/
a:hover {
    color: black;
}
/*a:active {*/
    /*color: blue;*/
/*}*/

#top-nav {
    grid-row: top-nav;
    display: flex;
    height: 20vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    color: greenyellow;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 10vh;
    margin: 0;
}

#home-index {
    text-decoration: none;
    color: greenyellow;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.nav-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 6vh;
    justify-content: flex-end;
    color: greenyellow;
    text-decoration: none;
}

.center-content1 {
    grid-row: center-content1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.center-content2 {
    grid-row: center-content2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.center-content3 {
    grid-row: center-content3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.center-content4 {
    grid-row: center-content4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.index-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    /*right: 10vw;*/
    background-color: floralwhite;
    border: .2em solid black
}

.index-art1 {
    height: 7vh;
    width: 9vh;
}

#index-art2 {
    max-width: 100%;
    height: 50vh;
    width: 38vh;
    border-radius: 60%;
    border: .5em solid black;
    -webkit-box-shadow: 0px 10px 93px 20px rgba(174,250,60,1);
    -moz-box-shadow: 0px 10px 93px 20px rgba(174,250,60,1);
    box-shadow: 0px 10px 93px 20px rgba(174,250,60,1);
}

.splash-info {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.info-facts {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7vh;
    text-align: justify;
    padding: 1em;
}

#bottom-nav {
    display: flex;
    margin: .5vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    padding-right: 2em;
}

.bottom-nav-text {
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-size: 2vh;*/
    justify-content: flex-end;
    color: greenyellow;
    text-decoration: none;
}

#copyright {
    float: left;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5vh;

}

.social-media-btn {
    background-color: transparent;
    margin-left: 1.5vw;
    width: 10vw;
    height: 6vh;
    border: .5px solid yellowgreen;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5vh;
    text-decoration: none;
}

#index-content {
    overflow-x: hidden;
    flex-direction: column;
}

#hello, .work-titles {
    font-size: 8vh;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FF2F00;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vh;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow-x: hidden;
}

#tuesday-img {
    height: 20rem;
    width: auto;
    border: .2em solid yellowgreen;
    border-radius: 60%;
}

#work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
}
/*
#work-top-row {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}
*/
#work-top-row, #work-bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    color: yellowgreen;
    size: .5em;
}

.projects {
    height: auto;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.art {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-img {
    width: 25em;
    height: 20em;
    margin: 1em;
}

.art-img {
    width: auto;
    height: 20em;
    margin: 1em;
}

.code-links {
    text-decoration: none;
    font-size: 6vh;
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FF2F00;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    padding-top: 1em;
    padding-bottom: 1em;
}

form {
    display: inline;
    width: 100%;
}

div#form_sample{
    justify-content: center;
    align-items: center;
    text-align:center;
    border:1px solid yellowgreen;
    width: 600px;
    padding:0 50px 15px;
    margin-top:20px;
    border-radius:6px;
}

#main h1{
    margin-top:40px;
    width: 100%;
}

hr{
    margin-top:-5px
}

label{
    float:left;
    font-size:16px
}

input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid greenyellow;
}

textarea{
    width:100%;
    border:3px solid greenyellow;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none;
}

input[type="submit"]{
    width:100%;
    padding:10px 45px;
    background-color: greenyellow;
    border:none;
    color:#fff;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
}


@media screen and (min-width: 420px) and (max-width: 1024px){
    #top-nav {
        flex-direction: column;
    }

    h1 {
        font-size: 7vh;
    }

    .nav-text {
        font-size: 5vh;
    }

    .index-art1 {
        width: 7vw;
        height: 5vh;
    }

    .bottom-nav-text {
        font-size: 3vh;
    }

    #center-content {
        flex-direction: column;
    }

    #index-content {
        flex-direction: column;
    }

    #copyright {
        font-size: 1.5vh;
    }

    .social-media-btn {
        font-size: 1.5vh;
    }

    #about-text {
        max-width: 100%;
        max-height: 100%;
    }
    #hello {
        font-size: 6vh;
    }

    #about-text {
        font-size: 3vh;
    }

    #tuesday-img {
        margin-top: 1em;
        height: 12rem;
        width: 10rem;
    }

    .code-links {
        font-size: 6vh;
        color: black;
    }

    #work-top-row {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: auto;
    }

    .project-img {
        display: none;
    }

    #contact-text {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px){
    #copyright {
        font-size: 1vh;
    }

    .social-media-btn {
        font-size: 1vh;
    }
}

@media screen and (max-width: 420px){
    #top-nav {
        flex-direction: column;
    }

    h1 {
        font-size: 7vh;
    }

    .nav-text {
        font-size: 5vh;
    }

    .index-art1 {
        width: 9vw;
        height: 6vh;
    }

    #center-content {
        flex-direction: column;
    }

    #index-content {
        flex-direction: column;
    }

    .info-facts {
        font-size: 4vh;
    }

    #about-text {
        max-width: 100%;
        max-height: 100%;
    }
    #hello {
        font-size: 4vh;
    }

    #about-text {
        font-size: 2vh;
    }

    #tuesday-img {
        height: 12rem;
        width: 10rem;
    }

    .code-links {
        font-size: 5vh;
        color: black;
    }

    #work-top-row {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: auto;
    }

    .project-img {
        display: none;
    }

    #contact-text {
        font-size: 1em;
    }
}




/*FONTS:*/
/*font-family: 'Cinzel', serif;*/
/*font-family: 'Open Sans Condensed', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/

/*comment to push css File to github*/