/* Reset */
html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    display: flex;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

#background {
    width: 100vw;
    max-width: 100%;
    background: rgba(255, 98, 66, 1);
    background: -moz-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 98, 66, 1) 0%, rgba(255, 98, 66, 1) 32%, rgba(255, 135, 95, 1) 100%);
}

/*a:link {*/
    /*color: red;*/
/*}*/
/*a:visited {*/
    /*color: green;*/
/*}*/
a:hover {
    color: black;
}
/*a:active {*/
    /*color: blue;*/
/*}*/

#top-nav {
    display: flex;
    height: 20vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    color: greenyellow;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 10vh;
    margin: 0;
}

#home-index {
    text-decoration: none;
    color: greenyellow;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.nav-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 6vh;
    justify-content: flex-end;
    color: greenyellow;
    text-decoration: none;
}

#center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#index-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 90vw;
    /*right: 10vw;*/
    background-color: floralwhite;
    border: .2em solid black
}

.index-art1 {
    height: 7vh;
    width: 9vh;
}

#index-art2 {
    max-width: 100%;
    height: 50vh;
    width: 38vh;
    border-radius: 60%;
    border: .5em solid black;
    -webkit-box-shadow: 0px 10px 93px 20px rgba(174,250,60,1);
    -moz-box-shadow: 0px 10px 93px 20px rgba(174,250,60,1);
    box-shadow: 0px 10px 93px 20px rgba(174,250,60,1);
}

.index-rose {
    display: none;
}

.info-content {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-facts {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7vh;
    text-align: justify;
    padding: 1em;
}

#bottom-nav {
    display: flex;
    margin: .5vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

.bottom-nav-text {
    font-family: 'Open Sans Condensed', sans-serif;
    /*font-size: 2vh;*/
    justify-content: flex-end;
    color: greenyellow;
    text-decoration: none;
}

#copyright {
    float: left;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2vh;

}

.social-media-btn {
    background-color: transparent;
    margin-left: 1.5vw;
    width: 8vw;
    height: 4vh;
    border: .5px solid yellowgreen;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2vh;
    text-decoration: none;
}


@media screen and (min-width: 420px) and (max-width: 1024px){
    #top-nav {
        flex-direction: column;
    }

    h1 {
        font-size: 7vh;
    }

    .nav-text {
        font-size: 5vh;
    }

    .index-art1 {
        width: 7vw;
        height: 5vh;
    }

    .bottom-nav-text {
        font-size: 3vh;
    }

    #center-content {
        flex-direction: column;
    }

    #index-content {
        flex-direction: column;
    }

    #copyright {
        font-size: 1.5vh;
    }

    .social-media-btn {
        font-size: 1.5vh;
    }
}

@media screen and (max-width: 550px){
    #copyright {
        font-size: 1vh;
    }

    .social-media-btn {
        font-size: 1vh;
    }
}

@media screen and (max-width: 420px){
    #top-nav {
        flex-direction: column;
    }

    h1 {
        font-size: 7vh;
    }

    .nav-text {
        font-size: 5vh;
    }

    .index-art1 {
        width: 9vw;
        height: 6vh;
    }

    #center-content {
        flex-direction: column;
    }

    #index-content {
        flex-direction: column;
    }

    .info-facts {
        font-size: 4vh;
    }
}




/*FONTS:*/
/*font-family: 'Cinzel', serif;*/
/*font-family: 'Open Sans Condensed', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Abel', sans-serif;*/