#background {
    background-color: mistyrose;
}

#top-nav {
    height: 100px;
    padding-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
li {
    list-style-type: none;
}
#name {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: black;
}
li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    color: black;
}
.col-sm-4 {
    text-align: center;
}
footer {
    border-top: 1px solid black;
}
#insta-icon {
    height: 40px;
    width: 40px;
}
#tweet-icon {
    height: 60px;
    width: 60px;
}
#intro-carousel {
    background-size: cover;
    background-position: center;
}
.carousel {
    margin: 20px;
}
.carousel-inner {
    margin-left: 5%;
}