/* Reset */
html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}


    #background {
        background-color: black;
        border: 10px solid #FF7828;
    }

    #top-nav {
        height: 100px;
        padding-top: 50px;
        padding-bottom: 15px;
        border-bottom: 1px solid #FF7828;
    }

    li {
        list-style-type: none;
    }
    li a {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5em;
        color: #FF7828;
    }

    .col-4 {
        text-align: center;
    }

    footer {
        border-top: 1px solid #FF7828;
    }

    #insta-icon {
        height: 40px;
        width: 40px;
    }

    #tweet-icon {
        height: 60px;
        width: 60px;
    }
    #center-img {
        height: 800px;
        width: auto;
        box-shadow: 0 0 1em gold;
        margin-left: 16%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
