/* Reset */
html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}


    #background {
        background:-webkit-gradient(radial, 168 6, 0, 220 -257, 465, from(#B39700), to(#FF7828));
        border: 10px solid #4B2731;
        max-width: 100%;
        margin: 0;
    }

    /* Header */

    #top-nav {
        height: 100px;
        padding-top: 50px;
        padding-bottom: 15px;
        border-bottom: 1px solid black;
    }
    li {
        list-style-type: none;
    }
    li a {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.7em;
        color: black;
        text-align: center;
    }

    /* Body */

    #center-images {
        margin: 7%;
    }
    p {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.2em;
        color: black;
        text-align: center;
    }
    #art-img {
        height:300px;
        width: auto;
        box-shadow: 0 0 1em gold;
        align-content: center;
    }
    h5 {
        margin-top: 3%;
        color: #4B2731;
        font-family: 'Playfair Display', serif;
        font-size: 3em;
        text-align: center;
    }
    .rose {
        transition:All 1s ease;
            -webkit-transition:All 1s ease;
            -moz-transition:All 1s ease;
            -o-transition:All 1s ease;
        transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
            -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
            -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
            -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
            -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    .rose:hover{
        transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
            -webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
            -moz-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
            -o-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
            -ms-transform: rotate(360deg) scale(1) skew(1deg) translate(0px);
    }

    /* Footer */

    footer {
        border-top: 1px solid black;
    }
    #insta-icon {
        height: 40px;
        width: 40px;
    }
    #tweet-icon {
        height: 60px;
        width: 60px;
    }
